.background {
    -fx-background-image: url("../images/bg-2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.label {
    -fx-font-family: "Graduate";
    -fx-padding: 5px;
}

.buttonDefault {
    -fx-background-color: "#5E0B0C";
    -fx-font-family: "Graduate";
    -fx-text-fill: "white";

    -fx-padding: 10px 0px;
    -fx-border-radius: 5px;
}

.titleText {
    -fx-font-family: "Graduate";
    -fx-font-size: 12px;
}

.buttonDefault:hover {
    -fx-background-color: "#3E090A";
}

.ignoreHighlight {}

.ignoreHighlight:focused {
    -fx-background-color: "lightgrey";
}